# Global configurations
global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  # required parameter for SSL bumping
  tune.ssl.default-dh-param 2048
  # Turn on for stdout logging
  # log stdout  format raw  local0  debug
  # Enable these to be able to soft reload from outside the container
  # stats socket /var/run/haproxy expose-fd listeners
  # master-worker

# Default settings
defaults
  log     global
  mode    http # tcp can be used if you don't want to do SSL bumping
  option  httplog # tcplog can be used if you don't want to do SSL bumping
  option  dontlognull
  timeout connect  5s
  timeout client  10s
  timeout server  25s
  # Long timeout for WebSocket connections.
  timeout tunnel  3600s

frontend https
  bind *:80
  # You can use either a single folder or multiple crt definitions in this line (crt test.pem crt test2.pem)
  bind *:443 ssl crt /etc/ssl/ alpn h2,http/1.1

  # Access Control Lists
  # Add one acl and use_backend per domain
  # acl <aclname> <criterion> [flags] [operator] [<value>] ...
  # hdr(host) -i matches the host header case insensitive

  # Send rewrites requests for these files specificall so they can be served from root
  acl serve-root path_beg -i /robots.txt /sitemap.xml /browserconfig.xml /favicon.ico /service-worker.js

  # Request Rewrites
  # These happen nomatter where they are placed in this block but the order of them matters!
  # This will match any request for things from static/proxy_to_site_root and rewrite it to a dir that, hopefully 🤨, doesn't exist
  http-request replace-path \/dist/proxy_to_site_root(\/.*)     /static/intentionally_rewritten_this_should_404-fb9c8139-0149-45d2-b776-895b31f69904\1
  # This'll match those any request listed in the serve-root acl and and rewrite it to be served properly
  http-request replace-path ([\w:\.\/]+(?:[^\w\/].*)?) /dist/proxy_to_site_root\1 if serve-root

  # If the redirect is before a http-request replace-<type> it'll warn on start
  # This is because reqreps will pe executed even if it redirects
  redirect scheme https code 301 if !{ ssl_fc }

  default_backend backend-main
# Back Ends

backend backend-main  # Mac
  option forwardfor
  server localhost localhost:3005 check # Linux
  # server host.docker.internal host.docker.internal:3005 check # Mac
